root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.java]
indent_style = space
indent_size = 4
ij_java_for_brace_force = if_multiline
ij_java_if_brace_force = if_multiline
ij_java_names_count_to_use_import_on_demand = 999
ij_java_packages_to_use_import_on_demand = ''
ij_java_use_single_class_imports = true
